* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('../bg utama.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: #333;
}

.login-container {
    margin-top: 90px;
    margin-right: 700px;
    height: 100%;
}

.login-card {
    background-color: #ffffff;
    width: 400px;
    height: 570px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-header {
    margin-bottom: 10px;
    padding-top: 0;
}

.logo {
    width: 150px;
    margin-bottom: 10px;
}

h2 {
    margin-top: -17px;
    font-size: 24px;
    color: #1c2a4a;
}

.login-header p {
    margin-top: -15px;
    color: #777;
    margin: 5px 0;
}

.login-header a {
    color: #0066cc;
    text-decoration: none;
}

.login-header a:hover {
    text-decoration: underline;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    font-weight: bold;
    color: #333;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    background-color: #1c2a4a;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.login-button:hover {
    background-color: #16223d;
}

.footer-text {
    margin-top: 20px;
    font-size: 12px;
    color: #555;
}
