* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f0f0f5;
    font-size: 16px;

}

body::-webkit-scrollbar {
    display: none;
}

header {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #002366;
}

header .rectangle {
    position: absolute;
    top: 0;
    right: 0;
    width: 78vw;
    min-height: 25px;
    background-color: #134CBC;
    border-bottom-left-radius: 54px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-header {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo-header img {
    height: 75px;
    margin-bottom: 15px;
}

.header-text {
    flex: 2;
    text-align: center;
}

#text-img {
    width: 220px;
    /* Sesuaikan ukuran gambar teks */
    height: auto;
    margin-left: 20px;
}

.contact-info {
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contact-ket i {
    font-size: 16px;
    align-items: center;
}

.contact-ket p {
    font-size: 14px;
}

.contact-phone,
.contact-email,
.contact-map {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #134CBC;
    width: 250px;
}

.contact-phone i,
.contact-email i,
.contact-map i {
    margin-right: 20px;
    font-size: 29px;
    margin-left: 15px;
}

.contact-item i {
    margin-right: 8px;
    color: #002366;
}

/* BACKGROUND */
.container {
    background-image: url('bg utama.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
}

/* NAVBAR START */

/* Navbar container */
.navbar {
    background: #5135FA;
    position: relative;
}

.navbar-container {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-around;
    /* Membuat jarak otomatis sama */
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

/* Navbar items and layout */
.navbar ul {
    display: flex;
    justify-content: space-around;
    /* Membuat jarak otomatis sama */
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

/* Navbar item */
.navbar ul li {
    position: relative;
}

.navbar ul li a {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: 350;
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: 1;
    transition: color 0.3s ease;
}

/* Chevron icon style */
.navbar ul li a i {
    margin-left: 10px;
    font-size: 13px;
}

/* Hover effect for links */
.navbar ul li a:hover {
    color: #f0a500;
}

.navbar ul li a.active {
    color: #f0a500;
    /* Optional active color */
}

.navbar ul li ul.dropdown li {
    display: block;
}

.navbar ul li ul.dropdown li a {
    text-align: left;
    color: black;
    font-size: 17px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar ul li ul.dropdown li a:hover {
    color: #3376F9;

}

.navbar ul li ul.dropdown li a.active {
    color: #3376F9;

}

.navbar ul li ul.dropdown {
    margin-top: 3px;
    width: 260px;
    background: #FFFFFF;
    position: absolute;
    z-index: 999;
    display: none;
}

.navbar ul li:hover ul.dropdown {
    display: block;
}


.profile-icon {
    display: flex;
    position: absolute;
    top: 10%;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
}

.header-bar {
    background-color: #d1f0ff;
    /* Ubah ke warna biru muda yang diinginkan */
    padding: 10px 20px;
    /* Tambahkan padding untuk ruang di sekitar teks */
    text-align: left;
    /* Rata kanan teks */
    font-size: 14px;
    /* Sesuaikan ukuran font */
    font-weight: 500;
    /* Buat teks lebih tebal */
}

.header-bar a {
    color: #002366;
    /* Warna teks agar terlihat jelas di atas background biru muda */
    text-decoration: none;
    /* Hilangkan garis bawah pada link */
    margin-right: 40px;
}

/* CONTENT PROFILE START */

.profile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20%;
    padding-bottom: 100px;
}

.profile-title {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: white;
    width: 100%;
    height: 150px;
    background: #03205D;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.profile-title .profile-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.profile-title .profile-image img {
    width: 130px;
    height: auto;
}

.profile-title .profile-image-camera {
    position: absolute;
    bottom: 7px;
    left: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3376F9;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
}

.profile-title .profile-image-camera img {
    width: 25px;
    height: auto;
}

.profile-title-nisn {
    font-size: 20px;
}

.profile-title-status {
    color: white;
    opacity: 0.7;
    font-weight: 600;
}

.profile-description {
    display: flex;
    margin-top: 20px;
}

.profile-details {
    font-weight: bold;
    font-size: 15px;
    background: #F5F5F5;
    width: 65%;
    min-height: 200px;
    padding: 10px 15px 10px 15px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}

.profile-details-1 {
    margin-top: 2px;
    font-size: 17px;
    opacity: 0.6;
    font-weight: 600;
}

.profile-notification {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    background: #F5F5F5;
    width: 35%;
    height: 400px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}

.profile-notification-title {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.profile-notification-title i {
    position: absolute;
    left: 10px;
}

.profile-notification-notif {
    display: flex;
    margin: 8px 10px 5px 10px;
    font-size: 15px;
}

.profile-notification-notif-left {
    width: 75%;
    font-weight: 500;
}

.profile-notification-notif-right {
    display: flex;
    align-items: center;
    width: 25%;
    font-size: 13px;
    opacity: 0.6;
    font-weight: 700;
}
