/* PENGANTAR CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f5f5;
    color: #333;
    font-size: 16px;
}

body::-webkit-scrollbar {
    display: none;
}


.content {
    display: flex;
    padding: 20px;
}

.header-bar {
    background-color: #d1f0ff;
    padding: 10px 20px;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}

.header-bar a {
    color: #002366;
    text-decoration: none;
    margin-right: 40px;
}

.left-side {
    width: 30%;
    text-align: center;
    padding-right: 20px;
    border-right: 1px solid #ddd;
}

.left-side h1,
.left-side h2 {
    font-size: 24px;
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: #333;
    margin-bottom: 10px;
}

.left-side img {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

.right-side {
    width: 70%;
    padding-left: 20px;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 400;
}

.footer {
    text-align: left;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
}
