/* INFORMASI KEGIATAN CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f0f0f5;
  font-size: 16px;
}

body::-webkit-scrollbar {
  display: none;
}

.header-bar {
  background-color: #d1f0ff;
  padding: 10px 20px;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
}

.header-bar a {
  color: #002366;
  text-decoration: none;
  margin-right: 40px;
}

.activity-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 50px;
}

.activity-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30vw;
  margin: 20px 15px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.9s ease-out, transform 0.6s ease-out;
}

.activity-card.show {
  opacity: 1;
  transform: translateY(0);
}

.activity-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: #e1e0e0;
  height: 65px;
}

.activity-content {
  display: flex;
  flex-direction: column;
  height: 315px;
}

.images {
  height: 300px;
  text-align: center;
  margin: 10px 0;
}

.images img {
  object-fit: cover;
  border-radius: 8px;
  width: auto;
  height: 145px;
}

.description {
  overflow: hidden;
  height: 100%;
  font-size: 15px;
  text-align: left;
  margin: 0 10px;
  padding-bottom: 10px;
}

.activity-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #D9D9D9;
    height: 50px;
}

.activity-footer .detail-button {
    padding: 10px 25px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
    cursor: pointer;
    margin-right: 20px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.detail-button i {
    margin-right: 7px;
}

.detail-button:hover {
    background-color: #0056b3;
}

/* ? POPUP START */
.popup .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
  z-index: 10;
}

.popup .card-popup {
  position: fixed;
  top: 30%;
  left: 50%;
  background: #fff;
  border-radius: 10px;
  width: 60vw;
  min-height: 90vh;
  overflow: hidden;
  z-index: 20;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  transform: translate(-50%, -30%) scale(0.9); 
  transition: opacity 0.4s ease, transform 0.4s ease;
  opacity: 0;
  pointer-events: none;
}

.card-popup .popup-header {
  display: flex;
  align-items: center;
  height: 65px;
  background: #d9d9d9;
}

.popup-content {
  flex: 1;
  overflow-y: auto;
  max-height: calc(90vh - 100px);
}

.popup-header h1 {
  text-align: left;
  margin-left: 20px;
  opacity: 0.5;
}

.card-popup .popup-imgbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 220px;
  width: 100%;
}

.img-container {
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #fff;
  height: 200px;
  width: 55%;
}

.img-container img {
  object-fit: cover;
  border-radius: 8px;
  height: 200px;
  width: auto;
}

.popup-detail {
  padding: 30px;
  opacity: 0.7;
}

.popup-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}

.popup-info .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
}

.popup-info .teks {
  display: flex;
  margin-left: 12px;
  flex-direction: column;
}

.popup-detail .popup-description {
  margin-top: 30px;
}

.popup .popup-footer {
  background-color: #7e7777;
  display: flex;
  justify-content: flex-end;
  line-height: 40px;
  width: 100%;
  height: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.popup .popup-footer button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: none;
  background: none;
  color: white;
  font-size: 45px;
  margin-right: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.popup .popup-footer button:hover {
  color: #bdbdbdbd;
}

.popup.active .overlay {
  opacity: 1;
  pointer-events: auto;
}

.popup.active .card-popup {
  opacity: 1;
  transform: translate(-50%, -30%) scale(1); 
  pointer-events: auto;
}

.popup.closing .card-popup {
  transform: translate(-50%, -30%) scale(0);
  opacity: 0;
}



/* ? PAGINATION */
.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.pagination-info {
    text-align: left;
    font-size: 16px;
    color: #555;
    margin-right: 10px;
}

.pagination {
    text-align: center;
    margin: 30px 0;
}

.pagination a {
    display: inline-block;
    padding: 8px 15px;
    margin: 0 5px;
    color: #444;
    background: #f2f2f2;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination a.active {
    background-color: #FB380D;
    color: #fff;
}

.pagination .navigate {
    background: #3376F9;
    color: white;
}

.pagination .navigate:hover {
    background-color: #002366;
}


/* ? NOTIFICATION */
.floating-notif {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  z-index: 9999;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  animation: fadeOut 5s forwards;
  opacity: 1;
}

.floating-notif.success {
  background-color: #28a745;
}

.floating-notif.error {
  background-color: #dc3545;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 0px;
  }
}